{% extends 'spotipy/admin/base.html' %}
{% load i18n %}


{% block content %}

{% if not is_popup %}
{% block nav-breadcrumbs %}
  <nav aria-label="{% translate 'Breadcrumbs' %}">
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}"><i class="ti ti-home"></i> {% translate 'Home' %}</a>
      &rsaquo;
      {% for app in app_list %}
        {{ app.name }}
      {% endfor %}
    </div>
  </nav>
{% endblock nav-breadcrumbs %}
{% endif %}

<div class="row mt-3" >
    <h3>{{ app_label | title }}</h3>
</div>
{% endblock content %}

